/* Reset */
.tellmeSkin table, .tellmeSkin tbody, .tellmeSkin a, .tellmeSkin img, .tellmeSkin tr, .tellmeSkin div, .tellmeSkin td, .tellmeSkin iframe, .tellmeSkin span, .tellmeSkin *, .tellmeSkin .mceText {border:0; margin:0; padding:0; background:transparent; white-space:nowrap; text-decoration:none; font-weight:normal; cursor:default; color:#000; vertical-align:baseline; width:auto; border-collapse:separate; text-align:left}
.tellmeSkin a:hover, .tellmeSkin a:link, .tellmeSkin a:visited, .tellmeSkin a:active {text-decoration:none; font-weight:normal; cursor:default; color:#000}
.tellmeSkin table td {vertical-align:middle}

/* Containers */
.tellmeSkin table {direction:ltr;background:transparent}
.tellmeSkin iframe {display:block;}
.tellmeSkin .mceToolbar {
	height:26px;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	-moz-opacity: 0;
}
.tellmeSkin .mceLeft {text-align:left}
.tellmeSkin .mceRight {text-align:right}

/* External */
.tellmeSkin .mceExternalToolbar {position:relative;}
.tellmeSkin .mceExternalToolbar td.mceToolbar {padding-right:13px;}
.tellmeSkin .mceExternalClose {position:absolute; top:3px; right:3px; width:7px; height:7px; background:url(../../img/icons.gif) -820px 0}

/* Layout */
.tellmeSkin table.mceLayout {
	border: 1px solid #CCC;
	-moz-box-shadow: 0px 0px 9px #CCC;
	-webkit-box-shadow: 0px 0px 9px #CCC;
	box-shadow: 0px 0px 9px #CCC;
	padding: 40px;
	margin: 0 auto;
	background: #FFF;
}
.tellmeSkin table.mceLayout tr.mceFirst td {}
.tellmeSkin table.mceLayout tr.mceLast td {
	height: 100%;
}
.tellmeSkin table.mceToolbar, .tellmeSkin tr.mceFirst .mceToolbar tr td, .tellmeSkin tr.mceLast .mceToolbar tr td {border:0; margin:0; padding:0;}
.tellmeSkin td.mceToolbar {background:#FFF; padding-top:1px; vertical-align:top}
.tellmeSkin .mceIframeContainer {}
.tellmeSkin .mceStatusbar {background:#F0F0EE; font-family:'MS Sans Serif',sans-serif,Verdana,Arial; font-size:9pt; line-height:16px; overflow:visible; color:#000; display:block; height:20px}
.tellmeSkin .mceStatusbar div {float:left; margin:2px}
.tellmeSkin .mceStatusbar a.mceResize {display:block; float:right; background:url(../../img/icons.gif) -800px 0; width:20px; height:20px; cursor:se-resize; outline:0}
.tellmeSkin .mceStatusbar a:hover {text-decoration:underline}
.tellmeSkin table.mceToolbar {margin-left:3px}
.tellmeSkin span.mceIcon, .tellmeSkin img.mceIcon {display:block; width:20px; height:20px}
.tellmeSkin .mceIcon {background:url(../../img/icons.gif) no-repeat 20px 20px}
.tellmeSkin td.mceCenter {text-align:center;}
.tellmeSkin td.mceCenter table {margin:0 auto; text-align:left;}
.tellmeSkin td.mceRight table {margin:0 0 0 auto;}

/* Button */
.tellmeSkin .mceButton {display:block; border:1px solid #F0F0EE; width:20px; height:20px; margin-right:1px}
.tellmeSkin a.mceButtonEnabled:hover {border:1px solid #0A246A; background-color:#B2BBD0}
.tellmeSkin a.mceButtonActive, .tellmeSkin a.mceButtonSelected {border:1px solid #0A246A; background-color:#C2CBE0}
.tellmeSkin .mceButtonDisabled .mceIcon {opacity:0.3; -ms-filter:'alpha(opacity=30)'; filter:alpha(opacity=30)}
.tellmeSkin .mceButtonLabeled {width:auto}
.tellmeSkin .mceButtonLabeled span.mceIcon {float:left}
.tellmeSkin span.mceButtonLabel {display:block; font-size:10px; padding:4px 6px 0 22px; font-family:Tahoma,Verdana,Arial,Helvetica}
.tellmeSkin .mceButtonDisabled .mceButtonLabel {color:#888}

/* Separator */
.tellmeSkin .mceSeparator {display:block; background:url(../../img/icons.gif) -180px 0; width:2px; height:20px; margin:2px 2px 0 4px}

/* ListBox */
.tellmeSkin .mceListBox, .tellmeSkin .mceListBox a {display:block}
.tellmeSkin .mceListBox .mceText {padding-left:4px; width:70px; text-align:left; border:1px solid #CCC; border-right:0; background:#FFF; font-family:Tahoma,Verdana,Arial,Helvetica; font-size:11px; height:20px; line-height:20px; overflow:hidden}
.tellmeSkin .mceListBox .mceOpen {width:9px; height:20px; background:url(../../img/icons.gif) -741px 0; margin-right:2px; border:1px solid #CCC;}
.tellmeSkin table.mceListBoxEnabled:hover .mceText, .tellmeSkin .mceListBoxHover .mceText, .tellmeSkin .mceListBoxSelected .mceText {border:1px solid #A2ABC0; border-right:0; background:#FFF}
.tellmeSkin table.mceListBoxEnabled:hover .mceOpen, .tellmeSkin .mceListBoxHover .mceOpen, .tellmeSkin .mceListBoxSelected .mceOpen {background-color:#FFF; border:1px solid #A2ABC0}
.tellmeSkin .mceListBoxDisabled a.mceText {color:gray; background-color:transparent;}
.tellmeSkin .mceListBoxMenu {overflow:auto; overflow-x:hidden}
.tellmeSkin .mceOldBoxModel .mceListBox .mceText {height:22px}
.tellmeSkin .mceOldBoxModel .mceListBox .mceOpen {width:11px; height:22px;}
.tellmeSkin select.mceNativeListBox {font-family:'MS Sans Serif',sans-serif,Verdana,Arial; font-size:7pt; background:#F0F0EE; border:1px solid gray; margin-right:2px;}

/* SplitButton */
.tellmeSkin .mceSplitButton {width:32px; height:20px; direction:ltr}
.tellmeSkin .mceSplitButton a, .tellmeSkin .mceSplitButton span {height:20px; display:block}
.tellmeSkin .mceSplitButton a.mceAction {width:20px; border:1px solid #F0F0EE; border-right:0;}
.tellmeSkin .mceSplitButton span.mceAction {width:20px; background-image:url(../../img/icons.gif);}
.tellmeSkin .mceSplitButton a.mceOpen {width:9px; background:url(../../img/icons.gif) -741px 0; border:1px solid #F0F0EE;}
.tellmeSkin .mceSplitButton span.mceOpen {display:none}
.tellmeSkin table.mceSplitButtonEnabled:hover a.mceAction, .tellmeSkin .mceSplitButtonHover a.mceAction, .tellmeSkin .mceSplitButtonSelected a.mceAction {border:1px solid #0A246A; border-right:0; background-color:#B2BBD0}
.tellmeSkin table.mceSplitButtonEnabled:hover a.mceOpen, .tellmeSkin .mceSplitButtonHover a.mceOpen, .tellmeSkin .mceSplitButtonSelected a.mceOpen {background-color:#B2BBD0; border:1px solid #0A246A;}
.tellmeSkin .mceSplitButtonDisabled .mceAction, .tellmeSkin .mceSplitButtonDisabled a.mceOpen {opacity:0.3; -ms-filter:'alpha(opacity=30)'; filter:alpha(opacity=30)}
.tellmeSkin .mceSplitButtonActive a.mceAction {border:1px solid #0A246A; background-color:#C2CBE0}
.tellmeSkin .mceSplitButtonActive a.mceOpen {border-left:0;}

/* ColorSplitButton */
.tellmeSkin div.mceColorSplitMenu table {background:#FFF; border:1px solid gray}
.tellmeSkin .mceColorSplitMenu td {padding:2px}
.tellmeSkin .mceColorSplitMenu a {display:block; width:9px; height:9px; overflow:hidden; border:1px solid #808080}
.tellmeSkin .mceColorSplitMenu td.mceMoreColors {padding:1px 3px 1px 1px}
.tellmeSkin .mceColorSplitMenu a.mceMoreColors {width:100%; height:auto; text-align:center; font-family:Tahoma,Verdana,Arial,Helvetica; font-size:11px; line-height:20px; border:1px solid #FFF}
.tellmeSkin .mceColorSplitMenu a.mceMoreColors:hover {border:1px solid #0A246A; background-color:#B6BDD2}
.tellmeSkin a.mceMoreColors:hover {border:1px solid #0A246A}
.tellmeSkin .mceColorPreview {margin-left:2px; width:16px; height:4px; overflow:hidden; background:#9a9b9a}
.tellmeSkin .mce_forecolor span.mceAction, .tellmeSkin .mce_backcolor span.mceAction {overflow:hidden; height:16px}

/* Menu */
.tellmeSkin .mceMenu {position:absolute; left:0; top:0; z-index:1000; border:1px solid #D4D0C8}
.tellmeSkin .mceNoIcons span.mceIcon {width:0;}
.tellmeSkin .mceNoIcons a .mceText {padding-left:10px}
.tellmeSkin .mceMenu table {background:#FFF}
.tellmeSkin .mceMenu a, .tellmeSkin .mceMenu span, .tellmeSkin .mceMenu {display:block}
.tellmeSkin .mceMenu td {height:20px}
.tellmeSkin .mceMenu a {position:relative;padding:3px 0 4px 0}
.tellmeSkin .mceMenu .mceText {position:relative; display:block; font-family:Tahoma,Verdana,Arial,Helvetica; color:#000; cursor:default; margin:0; padding:0 25px 0 25px; display:block}
.tellmeSkin .mceMenu span.mceText, .tellmeSkin .mceMenu .mcePreview {font-size:11px}
.tellmeSkin .mceMenu pre.mceText {font-family:Monospace}
.tellmeSkin .mceMenu .mceIcon {position:absolute; top:0; left:0; width:22px;}
.tellmeSkin .mceMenu .mceMenuItemEnabled a:hover, .tellmeSkin .mceMenu .mceMenuItemActive {background-color:#dbecf3}
.tellmeSkin td.mceMenuItemSeparator {background:#DDD; height:1px}
.tellmeSkin .mceMenuItemTitle a {border:0; background:#EEE; border-bottom:1px solid #DDD}
.tellmeSkin .mceMenuItemTitle span.mceText {color:#000; font-weight:bold; padding-left:4px}
.tellmeSkin .mceMenuItemDisabled .mceText {color:#888}
.tellmeSkin .mceMenuItemSelected .mceIcon {background:url(img/menu_check.gif)}
.tellmeSkin .mceNoIcons .mceMenuItemSelected a {background:url(img/menu_arrow.gif) no-repeat -6px center}
.tellmeSkin .mceMenu span.mceMenuLine {display:none}
.tellmeSkin .mceMenuItemSub a {background:url(img/menu_arrow.gif) no-repeat top right;}
.tellmeSkin .mceMenuItem td, .tellmeSkin .mceMenuItem th {line-height: normal}

/* Progress,Resize */
.tellmeSkin .mceBlocker {position:absolute; left:0; top:0; z-index:1000; opacity:0.5; -ms-filter:'alpha(opacity=50)'; filter:alpha(opacity=50); background:#FFF}
.tellmeSkin .mceProgress {position:absolute; left:0; top:0; z-index:1001; background:url(img/progress.gif) no-repeat; width:32px; height:32px; margin:-16px 0 0 -16px}

/* Formats */
.tellmeSkin .mce_formatPreview a {font-size:10px}
.tellmeSkin .mce_p span.mceText {}
.tellmeSkin .mce_address span.mceText {font-style:italic}
.tellmeSkin .mce_pre span.mceText {font-family:monospace}
.tellmeSkin .mce_h1 span.mceText {font-weight:bolder; font-size: 2em}
.tellmeSkin .mce_h2 span.mceText {font-weight:bolder; font-size: 1.5em}
.tellmeSkin .mce_h3 span.mceText {font-weight:bolder; font-size: 1.17em}
.tellmeSkin .mce_h4 span.mceText {font-weight:bolder; font-size: 1em}
.tellmeSkin .mce_h5 span.mceText {font-weight:bolder; font-size: .83em}
.tellmeSkin .mce_h6 span.mceText {font-weight:bolder; font-size: .75em}

/* Theme */
.tellmeSkin span.mce_bold {background-position:0 0}
.tellmeSkin span.mce_italic {background-position:-60px 0}
.tellmeSkin span.mce_underline {background-position:-140px 0}
.tellmeSkin span.mce_strikethrough {background-position:-120px 0}
.tellmeSkin span.mce_undo {background-position:-160px 0}
.tellmeSkin span.mce_redo {background-position:-100px 0}
.tellmeSkin span.mce_cleanup {background-position:-40px 0}
.tellmeSkin span.mce_bullist {background-position:-20px 0}
.tellmeSkin span.mce_numlist {background-position:-80px 0}
.tellmeSkin span.mce_justifyleft {background-position:-460px 0}
.tellmeSkin span.mce_justifyright {background-position:-480px 0}
.tellmeSkin span.mce_justifycenter {background-position:-420px 0}
.tellmeSkin span.mce_justifyfull {background-position:-440px 0}
.tellmeSkin span.mce_anchor {background-position:-200px 0}
.tellmeSkin span.mce_indent {background-position:-400px 0}
.tellmeSkin span.mce_outdent {background-position:-540px 0}
.tellmeSkin span.mce_link {background-position:-500px 0}
.tellmeSkin span.mce_unlink {background-position:-640px 0}
.tellmeSkin span.mce_sub {background-position:-600px 0}
.tellmeSkin span.mce_sup {background-position:-620px 0}
.tellmeSkin span.mce_removeformat {background-position:-580px 0}
.tellmeSkin span.mce_newdocument {background-position:-520px 0}
.tellmeSkin span.mce_image {background-position:-380px 0}
.tellmeSkin span.mce_help {background-position:-340px 0}
.tellmeSkin span.mce_code {background-position:-260px 0}
.tellmeSkin span.mce_hr {background-position:-360px 0}
.tellmeSkin span.mce_visualaid {background-position:-660px 0}
.tellmeSkin span.mce_charmap {background-position:-240px 0}
.tellmeSkin span.mce_paste {background-position:-560px 0}
.tellmeSkin span.mce_copy {background-position:-700px 0}
.tellmeSkin span.mce_cut {background-position:-680px 0}
.tellmeSkin span.mce_blockquote {background-position:-220px 0}
.tellmeSkin .mce_forecolor span.mceAction {background-position:-720px 0}
.tellmeSkin .mce_backcolor span.mceAction {background-position:-760px 0}
.tellmeSkin span.mce_forecolorpicker {background-position:-720px 0}
.tellmeSkin span.mce_backcolorpicker {background-position:-760px 0}

/* Plugins */
.tellmeSkin span.mce_advhr {background-position:-0px -20px}
.tellmeSkin span.mce_ltr {background-position:-20px -20px}
.tellmeSkin span.mce_rtl {background-position:-40px -20px}
.tellmeSkin span.mce_emotions {background-position:-60px -20px}
.tellmeSkin span.mce_fullpage {background-position:-80px -20px}
.tellmeSkin span.mce_fullscreen {background-position:-100px -20px}
.tellmeSkin span.mce_iespell {background-position:-120px -20px}
.tellmeSkin span.mce_insertdate {background-position:-140px -20px}
.tellmeSkin span.mce_inserttime {background-position:-160px -20px}
.tellmeSkin span.mce_absolute {background-position:-180px -20px}
.tellmeSkin span.mce_backward {background-position:-200px -20px}
.tellmeSkin span.mce_forward {background-position:-220px -20px}
.tellmeSkin span.mce_insert_layer {background-position:-240px -20px}
.tellmeSkin span.mce_insertlayer {background-position:-260px -20px}
.tellmeSkin span.mce_movebackward {background-position:-280px -20px}
.tellmeSkin span.mce_moveforward {background-position:-300px -20px}
.tellmeSkin span.mce_media {background-position:-320px -20px}
.tellmeSkin span.mce_nonbreaking {background-position:-340px -20px}
.tellmeSkin span.mce_pastetext {background-position:-360px -20px}
.tellmeSkin span.mce_pasteword {background-position:-380px -20px}
.tellmeSkin span.mce_selectall {background-position:-400px -20px}
.tellmeSkin span.mce_preview {background-position:-420px -20px}
.tellmeSkin span.mce_print {background-position:-440px -20px}
.tellmeSkin span.mce_cancel {background-position:-460px -20px}
.tellmeSkin span.mce_save {background-position:-480px -20px}
.tellmeSkin span.mce_replace {background-position:-500px -20px}
.tellmeSkin span.mce_search {background-position:-520px -20px}
.tellmeSkin span.mce_styleprops {background-position:-560px -20px}
.tellmeSkin span.mce_table {background-position:-580px -20px}
.tellmeSkin span.mce_cell_props {background-position:-600px -20px}
.tellmeSkin span.mce_delete_table {background-position:-620px -20px}
.tellmeSkin span.mce_delete_col {background-position:-640px -20px}
.tellmeSkin span.mce_delete_row {background-position:-660px -20px}
.tellmeSkin span.mce_col_after {background-position:-680px -20px}
.tellmeSkin span.mce_col_before {background-position:-700px -20px}
.tellmeSkin span.mce_row_after {background-position:-720px -20px}
.tellmeSkin span.mce_row_before {background-position:-740px -20px}
.tellmeSkin span.mce_merge_cells {background-position:-760px -20px}
.tellmeSkin span.mce_table_props {background-position:-980px -20px}
.tellmeSkin span.mce_row_props {background-position:-780px -20px}
.tellmeSkin span.mce_split_cells {background-position:-800px -20px}
.tellmeSkin span.mce_template {background-position:-820px -20px}
.tellmeSkin span.mce_visualchars {background-position:-840px -20px}
.tellmeSkin span.mce_abbr {background-position:-860px -20px}
.tellmeSkin span.mce_acronym {background-position:-880px -20px}
.tellmeSkin span.mce_attribs {background-position:-900px -20px}
.tellmeSkin span.mce_cite {background-position:-920px -20px}
.tellmeSkin span.mce_del {background-position:-940px -20px}
.tellmeSkin span.mce_ins {background-position:-960px -20px}
.tellmeSkin span.mce_pagebreak {background-position:0 -40px}
.tellmeSkin span.mce_restoredraft {background-position:-20px -40px}
.tellmeSkin span.mce_spellchecker {background-position:-540px -20px}
