{% extends "core/base.html" %}

{% block title %}Create an account{% endblock %}

{% block content %}
<div class="row">
	<div class="span5 offset5" id="signup-form">
	<form action="" method="POST" class="well form-horizontal">
		{% csrf_token %} 
  		  {{ form }}
  		
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Create</button>
            <button type="reset" class="btn btn-secondary">Reset</button>
        </div>
	</form>
    </div>
</div>

{% endblock %}
